/* Medium View */
@media (max-width: 768px) {
    .logo h1 {
        font-size: 1.2rem;
    }
    
    #menu-button {
        display: block;
    }
    
    .navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }
    
    .navigation.open {
        display: flex;
    }
    
    .social-media {
        margin-top: 1rem;
        width: 100%;
        justify-content: center;
    }
    
    .forecast-container {
        grid-template-columns: 1fr;
    }
    
    .spotlight-container {
        grid-template-columns: 1fr;
    }
    
    .hero-content h2 {
        font-size: 2rem;
        color: black;
    }
}

/* Small View */
@media (max-width: 480px) {
    .logo {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }
    
    .logo img {
        height: 50px;
    }
    
    .hero-content h2 {
        font-size: 1.5rem;
    }
    
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .quick-links ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}